body{
    background-color:white;
}
#homePageHeading{
    margin-top: 30px;
}
.bc{
    background-color: #F5F5F7;
    /* background-color: rgba(243, 241, 237, 0.992); */
}
.bc2{
    background-color:azure;
}
#img{
    width: 50px;
    border-radius: 5px;
}
#img2{
    width:150px
}
.atag{
    font-size: 20px;
    text-decoration: none;
    color:blue;
}
.atag:hover{
    color:red;
    transition: 0.5s;
}
.font{
    font-size: 20px;
}
.nav  a{
    color: black;
}
.iphone15pro img{
    width: 50px;
}
.at{
    text-decoration: none;
    color:black
}
.at:hover{
    color: rgb(54, 54, 233);
}
body{
    margin:0% 10%;
  }